<ion-header [translucent]="false" >
</ion-header>

<ion-content [fullscreen]="true">
<div class="content-wrapper">
  <ion-grid>
    <ion-row>
      <!-- MOBA Game 1 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/counter.jpg" alt="FPS Game 1" />
          <ion-card-header>
            <ion-card-title class="game-title">Counter Striker</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- MOBA Game 2 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/over.jpg" alt="FPS Game 2" />
          <ion-card-header>
            <ion-card-title class="game-title">Overwatch</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- MOBA Game 3 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/call.jpeg" alt="FPS Game 3" />
          <ion-card-header>
            <ion-card-title class="game-title">Call of Duty</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

    <!-- Botón de volver a categorías -->
    <ion-button
      fill="clear"
      expand="block"
      [routerLink]="['/home']"
      class="back-to-categories-button"
    >
      Volver a categorías
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-grid>
      <ion-row>
        <!-- Botón Home -->
        <ion-col>
          <ion-button fill="clear" (click)="navigateTo('home')" class="footer-button">
            <ion-icon name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Botón Perfil -->
        <ion-col>
          <ion-button fill="clear" (click)="navigateTo('profile')" class="footer-button">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <!-- Botón Cerrar Sesión -->
        <ion-col>
          <ion-button fill="clear" (click)="confirmLogOut()" class="footer-button">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>


