ion-content.error-content {
    --background: #212F3D;/* Establece el fondo de ion-content usando variables CSS */
    background-color: #1e1e2d; /* Fallback para asegurar el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  
  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .error-image {
    width: 400px;
    margin-bottom: 20px;
  }
  
  .error-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #8E44AD; /* Color morado para el título */
  }
  
  .error-message {
    font-size: 16px;
    color: #fff; /* Texto blanco */
    margin-bottom: 20px;
    padding: 0 20px;
  }
  
  .error-button {
    background-color: #63abf0; /* Color verde de fondo */
  color: #fff; /* Texto blanco */
  border-radius: 10px; /* Bordes redondeados */
 
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  transition: background-color 0.3s ease; /* Suave transición de color */
  /* Cambiar color cuando el botón está activo */

  /* Efecto al hacer clic */
  &:active {
    transform: scale(0.98); /* Leve reducción al hacer clic */
  }

  /* Opcional: Remover el borde de enfoque también al estar enfocado */
  }
  