.error-content {
  --background: url('/assets/Img/404.jpg') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Para que el contenido comience desde la parte superior */
  height: 100%;
}

.error-overlay {
  background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px; /* Ajusta el valor según sea necesario */
}

.error-title {
  color: white;
  font-size: 2em;
  margin-bottom: 10px;
}

.error-message {
  color: white;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.error-button {
  --background: #3880ff;
  width: 100%;
}
