<ion-content [fullscreen]="true" class="error-content">
  <div class="error-overlay">
    <h1 class="error-title">Oops, página no encontrada</h1>
    <p class="error-message">
      Lo sentimos, la página que buscas no existe.
    </p>

    <ion-button expand="block" color="primary" routerLink="/home" class="error-button">
      Volver al inicio
    </ion-button>
    <div class="error-message">
  Ocurrió un error en la carga.
</div>
<button class="retry-button" (click)="retry()">Reintentar</button>

  </div>
</ion-content>
