<ion-content [fullscreen]="true">
  <ion-grid class="login-container">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6" class="ion-text-center">
        <ion-img src="assets/Img/Icono.png" alt="Logotipo"></ion-img>
        <h2>Bienvenido</h2>

        <!-- Formulario reactivo -->
        <form [formGroup]="loginForm" (ngSubmit)="logIn()">
          <ion-item>
            <ion-input 
              placeholder="Usuario (Correo)" 
              formControlName="username" 
              [(ngModel)]="newUser.email"
              type="text">
            </ion-input>
          </ion-item>
          <div *ngIf="username?.invalid && username?.touched" class="error-message">
            <p *ngIf="username?.errors?.['required']">* El usuario es obligatorio</p>
            <p *ngIf="username?.errors?.['minlength']">* El usuario debe tener al menos 4 caracteres</p>
          </div>

          <ion-item>
            <ion-input 
              [type]="passwordType" 
              placeholder="Contraseña" 
              formControlName="password"
              [(ngModel)]="newUser.password" 
              required>
            </ion-input>
            <ion-icon slot="end" [name]="passwordIcon" (click)="togglePasswordVisibility()"></ion-icon>
          </ion-item>
          <div *ngIf="password?.invalid && password?.touched" class="error-message">
            <p *ngIf="password?.errors?.['required']">* La contraseña es obligatoria</p>
            <p *ngIf="password?.errors?.['minlength']">* La contraseña debe tener al menos 6 caracteres</p>
          </div>

          <ion-button expand="block" type="submit" class="login-button">INGRESAR</ion-button>
        </form>

        <div class="extra-options">
          <ion-button fill="clear" [routerLink]="['/register']">Registrarse</ion-button>
          <ion-button fill="clear" [routerLink]="['/forgot-password']">Recuperar Contraseña</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
