<ion-content>
  <ion-grid class="login-container">
    <ion-row justify-content-center>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-img src="assets/Img/Icono.png" alt="Logotipo"></ion-img>
        <h2 class="ion-text-center">Bienvenido</h2>

        <!-- Formulario reactivo -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input 
              placeholder="Usuario" 
              formControlName="username" 
              type="text">
            </ion-input>
          </ion-item>
          <div *ngIf="username?.invalid && username?.touched" class="error-message">
            <p *ngIf="username?.errors?.['required']">El usuario es obligatorio</p>
            <p *ngIf="username?.errors?.['minlength']">El usuario debe tener al menos 4 caracteres</p>
          </div>

          <ion-item>
            <ion-input 
              placeholder="Contraseña" 
              formControlName="password" 
              type="password">
            </ion-input>
          </ion-item>
          <div *ngIf="password?.invalid && password?.touched" class="error-message">
            <p *ngIf="password?.errors?.['required']">La contraseña es obligatoria</p>
            <p *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</p>
          </div>

          <ion-button expand="block" type="submit" class="login-button">Iniciar Sesión</ion-button>
        </form>

        <div class="extra-options ion-text-center">
          <ion-button fill="clear" [routerLink]="['/register']">Registrarse</ion-button>
          <ion-button fill="clear" [routerLink]="['/forgot-password']">Recuperar Contraseña</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
