
<ion-content>
  <div class="login-container">
    <ion-img src="assets/Img/Icono.png" alt="Logotipo"></ion-img>
    <h2>Bienvenido</h2>
    <form>
      <ion-item>
        <ion-input placeholder="Usuario" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" class="login-button">Iniciar Sesión</ion-button>
    </form>

    <div class="extra-options">
      <ion-button fill="clear" [routerLink]="['/register']">Registrarse</ion-button>
      <ion-button fill="clear" [routerLink]="['/forgot-password']">Recuperar Contraseña</ion-button>
    </div>
  </div>
</ion-content>