.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Usamos vh para ocupar toda la altura de la ventana */
  padding: 20px;
  background: #212F3D; /* Fondo oscuro para el contenedor general */
}

ion-img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  animation: bounce 3s infinite; /* Añadimos la animación de rebote */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px); /* La imagen sube 20px */
  }
  60% {
    transform: translateY(-10px); /* La imagen sube menos para un efecto más suave */
  }
}

h2 {
  color: #BB8FCE;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra suave y sutil */
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem; /* Tamaño base para pantallas pequeñas */
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem; /* Tamaño de fuente más grande para pantallas medianas */
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.5rem; /* Tamaño de fuente más grande para pantallas grandes */
  }
}

ion-item {
  --background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1)); /* Gradiente suave */
  --placeholder-color: rgba(255, 255, 255, 0.7); /* Color del placeholder más claro */
  --color: #FFFFFF; /* Texto en blanco */
  --highlight-color-focused: #BB8FCE; /* Morado claro para el enfoque */
  border-radius: 15px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espaciado entre los campos */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Borde blanco */
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo de los campos de entrada */
}

.login-button {
  margin-top: 20px;
  --background: linear-gradient(135deg, #7D3C98, #4A235A); /* Gradiente morado */
  --background-activated: #4A235A;
  --background-hover: #BB8FCE;
  color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo del botón */
}

.extra-options {
  margin-top: 20px;
}

.extra-options ion-button {
  --color: #516eee; /* Botones de enlace con color morado claro */
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra suave y sutil */
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo de los botones */
}

.error-message p {
  color: red; /* Color rojo para los mensajes de error */
  font-size: 0.9rem; /* Ajusta el tamaño de la fuente si es necesario */
  margin-top: 5px; /* Añade un pequeño margen superior para separar del input */
  text-align: left; /* Alinea el texto a la izquierda */
}

.error-message {
  margin-bottom: 10px; /* Espacio inferior para separar los mensajes de los siguientes elementos */
  width: 100%; /* Asegura que el mensaje ocupe todo el ancho del formulario */
}
