<ion-header [translucent]="false" >
  <ion-toolbar>
    <ion-title >MOBA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <!-- MOBA Game 1 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/lol.jpg" alt="MOBA Game 1" />
          <ion-card-header>
            <ion-card-title class="game-title">League of Legends</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- MOBA Game 2 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/dota.jpg" alt="MOBA Game 2" />
          <ion-card-header>
            <ion-card-title class="game-title">Dota 2</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- MOBA Game 3 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/heroes.webp" alt="MOBA Game 3" />
          <ion-card-header>
            <ion-card-title class="game-title">Heroes of the Storm</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón de volver a categorías -->
  <ion-button fill="clear" expand="block" [routerLink]="['/home']" class="back-to-categories-button">
    Volver a categorías
  </ion-button>
</ion-content>
