<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="forgot-password-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-input placeholder="Correo Electrónico" formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Nueva Contraseña" formControlName="newPassword" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Confirmar Nueva Contraseña" formControlName="confirmPassword" type="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" class="reset-button">Restablecer Contraseña</ion-button>
    </form>

    <ion-button fill="clear" expand="block" [routerLink]="['/login']" class="back-to-login-button">
      Volver al Login
    </ion-button>
  </div>
</ion-content>
