.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: #212F3D; // Fondo oscuro similar al de las otras páginas
  
    h2 {
      color: #BB8FCE;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra suave y sutil */
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.5rem; /* Tamaño base para pantallas pequeñas */
    }
    
    @media (min-width: 768px) {
      h2 {
        font-size: 2rem; /* Tamaño de fuente más grande para pantallas medianas */
      }
    }
    
    @media (min-width: 1024px) {
      h2 {
        font-size: 2.5rem; /* Tamaño de fuente más grande para pantallas grandes */
      }
    }
  
    ion-item {
      --background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
      --placeholder-color: rgba(255, 255, 255, 0.7); // Placeholder más claro
      --color: #dfefff; // Texto en blanco claro
      --highlight-color-focused: #BB8FCE; // Color morado para el enfoque
      border-radius: 15px; // Bordes redondeados para las entradas
      margin-bottom: 15px;
      padding: 10px; // Relleno interior para un aspecto más espacioso
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra suave
      border: 1px solid rgba(255, 255, 255, 0.5); // Borde blanco translúcido
    }
  
    ion-button {
      margin-top: 20px;
      --background: linear-gradient(135deg, #7D3C98, #4A235A); // Gradiente morado para el botón
      --background-activated: #4A235A;
      --background-hover: #BB8FCE;
      color: white;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); // Sombra adicional para el botón
       // Asegura que el botón ocupe todo el ancho disponible
    }
  }
  