<ion-content>
  <div class="forgot-password-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-input placeholder="Correo Electrónico" formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [type]="passwordType" placeholder="Nueva Contraseña" formControlName="newPassword" required></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input [type]="passwordType" placeholder="Confirmar Nueva Contraseña" formControlName="confirmPassword" required></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <ion-button expand="block" type="submit" class="reset-button">RECUPERAR</ion-button>
    </form>

    <ion-button fill="clear" expand="block" [routerLink]="['/login']" class="back-to-login-button">
      Volver al Login
    </ion-button>
  </div>
</ion-content>
