<ion-content>
  <div class="forgot-password-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <!-- Correo Electrónico -->
      <ion-item>
        <ion-input 
          placeholder="Correo Electrónico" 
          formControlName="email" 
          type="email" 
          required>
        </ion-input>
      </ion-item>
      <div *ngIf="email?.invalid && email?.touched" class="error-message">
        <p *ngIf="email?.errors?.['required']">* El correo electrónico es obligatorio</p>
        <p *ngIf="email?.errors?.['email']">* Debe ser un correo electrónico válido</p>
      </div>

      <!-- Nueva Contraseña -->
      <ion-item>
        <ion-input 
          type="password" 
          placeholder="Nueva Contraseña" 
          formControlName="newPassword" 
          required>
        </ion-input>
      </ion-item>
      <div *ngIf="newPassword?.invalid && newPassword?.touched" class="error-message">
        <p *ngIf="newPassword?.errors?.['required']">* La nueva contraseña es obligatoria</p>
        <p *ngIf="newPassword?.errors?.['minlength']">* Debe tener al menos 8 caracteres</p>
      </div>

      <!-- Confirmar Nueva Contraseña -->
      <ion-item>
        <ion-input 
          type="password" 
          placeholder="Confirmar Nueva Contraseña" 
          formControlName="confirmPassword" 
          required>
        </ion-input>
      </ion-item>
      <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" class="error-message">
        <p *ngIf="confirmPassword?.errors?.['required']">* La confirmación de la contraseña es obligatoria</p>
      </div>

      <!-- Verificación si las contraseñas no coinciden -->
      <div *ngIf="forgotPasswordForm.hasError('notEquivalent') && forgotPasswordForm.get('confirmPassword')?.touched" class="error-message">
        <p>* Las contraseñas no coinciden</p>
      </div>

      <!-- Botón de Recuperar -->
      <ion-button expand="block" type="submit" class="reset-button">RECUPERAR</ion-button>
    </form>

    <!-- Botón para volver al login -->
    <ion-button fill="clear" expand="block" [routerLink]="['/login']" class="back-to-login-button">
      Volver al Login
    </ion-button>
  </div>
</ion-content>
