<ion-header [translucent]="false" >
  <ion-toolbar>
    <ion-title >Battle Royale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <!-- MOBA Game 1 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/apex.webp" alt="BTR Game 1" />
          <ion-card-header>
            <ion-card-title class="game-title">APEX</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- MOBA Game 2 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/pubg.jpg" alt="BTR Game 2" />
          <ion-card-header>
            <ion-card-title class="game-title">PUBG</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- MOBA Game 3 -->
      <ion-col size="12">
        <ion-card class="custom-card">
          <img src="assets/Img/fort.jpg" alt="BTR Game 3" />
          <ion-card-header>
            <ion-card-title class="game-title">Fortnite</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Botón de volver a categorías -->
  <ion-button fill="clear" expand="block" [routerLink]="['/home']" class="back-to-categories-button">
    Volver a categorías
  </ion-button>
</ion-content>
