<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="custom-title">Categorias</ion-title>

    <!-- Botón para ir al login en el encabezado -->
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
        Log-out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-container">
  <br>
  <!-- Mensaje de bienvenida -->
  <div class="welcome-message">
    <h5>Bienvenido: admin</h5>
  </div>

  <ion-grid>
    <!-- Fila 1 con 2 categorías -->
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="goToPage('categoria1')">
          <img src="assets/Img/categoria1.jpg" alt="Category 1 Image" />
          <ion-card-header>
            <ion-card-title>MOBA</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Juegos de estrategia en equipo donde se destruye la base enemiga con personajes únicos.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card (click)="goToPage('categoria2')">
          <img src="assets/Img/categoria2.webp" alt="Category 2 Image" />
          <ion-card-header>
            <ion-card-title>FPS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Juegos de disparos en primera persona, centrados en combate y precisión.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Fila 2 con 2 categorías -->
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="goToPage('categoria3')">
          <img src="assets/Img/categoria3.webp" alt="Category 3 Image" />
          <ion-card-header>
            <ion-card-title>Battle Royale</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Juegos de supervivencia donde el último jugador o equipo en pie gana.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card (click)="goToPage('categoria4')">
          <img src="assets/Img/categoria4.jpg" alt="Category 4 Image" />
          <ion-card-header>
            <ion-card-title>Fighting Games</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Juegos de combate uno contra uno, enfocados en combos y habilidades.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-title>Derechos Reservados 2024</ion-title>
  </ion-toolbar>
</ion-footer>
