
<ion-content>
  <div class="register-container">
    <h2>Crear Cuenta</h2>
    <form (ngSubmit)="register()">
      <ion-item>
        <ion-input placeholder="RUT" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Nombres" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Apellidos" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <mat-form-field appearance="fill" class="custom-date-field">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fecha_nacimiento" name="fecha_nacimiento" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Correo" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Confirmar Contraseña" type="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" class="register-button">Registrarse</ion-button>
    </form>

    <ion-button fill="clear" expand="block" [routerLink]="['/login']" class="back-to-login-button">
      Volver al Login
    </ion-button>
  </div>
</ion-content>