
<ion-content>
  @if (cargando) {
    <div style="text-align: center;">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  }

  <div class="register-container">
    <h2>Crear Cuenta</h2>
    <form >
      <ion-item>
        <ion-input [(ngModel)]="newUser.rut" name="rut" placeholder="RUT" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newUser.nombres" name="nombres" placeholder="Nombres" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newUser.apellidos" name="apellidos" placeholder="Apellidos" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newUser.email" name="correo" placeholder="Correo" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newUser.password" name="contrasena" placeholder="Contraseña" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Confirmar Contraseña" type="password" required></ion-input>
      </ion-item>
      <ion-button (click)="registro()" expand="block" type="submit" class="register-button">Registrarse</ion-button>
    </form>

    <ion-button fill="clear" expand="block" [routerLink]="['/login']" class="back-to-login-button">
      Volver al Login
    </ion-button>
  </div>
</ion-content>